.card {
  position: relative;
  img {
    width: 95%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }
  h3 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 0.8em;
    color: white;
  }
}
