footer {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  #logo-footer {
    display: flex;
    li {
      display: flex;
      img {
        max-width: 30px;
      }
    }
  }
  p {
    margin: 20px 0;
    color: white;
  }
}
