nav {
  display: flex;
  justify-content: space-between;
  #logo-nav {
    display: flex;
    gap: 3px;
    li {
      display: flex;
      img {
        max-width: 20px;
      }
    }
  }
  .nav-links {
    display: flex;
    gap: 20px;
    li {
      a {
        font-size: 0.8em;
        color: #ff6060;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
